<!DOCTYPE html>
<html>
    <body>
        <h1 style="text-align:center;font-size:300%;background-color:midnightblue;color:mintcream;font-family:'Courier New', Courier, monospace';text-align:center;">Playlist Manager</h1>
        <ul>
        <li style="font-size:200%;text-align:center;"><a href="https://docs.google.com/document/d/10_BefTT0qygWwYUy2D1pqZy3cL6H8DiCzsl7Hg7kpNQ/edit#">API Documentation</a></li>
        <li style="font-size:200%;text-align:center;"><a href="https://github.com/Ameenafz248/Song-Playlist-Manger/blob/main/README.md">Source code</a></li>
    </ul>
    </body>
</html>
